/*!*		<!-- Loading window before doc ready -->*/
/*<div id="preload">*/
/*<svg version="1.1" id="L5" class="animated bounceInLeft" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 0 0" xml:space="preserve">*/
/*<circle fill="#fff" stroke="none" cx="6" cy="50" r="6">*/
/*<animateTransform attributeName="transform" dur="1s" type="translate" values="0 15 ; 0 -15; 0 15" repeatCount="indefinite" begin="0.1"/>*/
/*</circle>*/
/*<circle fill="#fff" stroke="none" cx="30" cy="50" r="6">*/
/*<animateTransform attributeName="transform" dur="1s" type="translate" values="0 10 ; 0 -10; 0 10" repeatCount="indefinite" begin="0.2"/>*/
/*</circle>*/
/*<circle fill="#fff" stroke="none" cx="54" cy="50" r="6">*/
/*<animateTransform attributeName="transform" dur="1s" type="translate" values="0 5 ; 0 -5; 0 5" repeatCount="indefinite" begin="0.3"/>*/
/*</circle>*/
/*</svg>*/
/*</div>*!*/

/*!*				<nav>*/
/*<a href="#" class="menu-button" id="menuButton">*/
/*<span class="burger-icon"></span>*/
/*</a>*/
/*$('.popup-first-level').append( $( ".menu ul" ));*/
/*$('.hamburger').on('click', function () {*/
/*$('.popup-first-level').toggle(function () {*/
/*if($('.popup-first-level').css('display') === 'block'){*/
/*$('.popup-first-level').clone( $( ".hamburger" ));*/
/*$('body').toggleClass('active-darken');*/
/*$('.hamburger').addClass('is-active');*/
/*$('.hamburger-label').text('Close');*/
/*$('body').click(function (event) {*/
/*if (!$(event.target).closest('.popup-first-level').length && !$(event.target).is('.popup-first-level')) {*/
/*$(".popup-first-level").hide();*/
/*$('.hamburger').removeClass('is-active');*/
/*$('.hamburger-label').text('Menu');*/
/*}*/
/*});*/
/*} else {*/
/*$('.hamburger').removeClass('is-active');*/
/*$('.hamburger-label').text('Menu');*/
/*}*/
/*}*/

/*);*/


/*// if($('.popup-first-level').css('display') === 'none'){*/
/*// $('.popup-first-level').hide(function () {*/

/*// })} else {*/
/*// $('.popup-first-level').show(function () {*/
/*//     $('.hamburger').addClass('is-active');*/
/*//     $('.hamburger-label').text('Close');*/
/*//*/
/*//     });*/
/*// })*/
/*// }*/
/*});*/

/*});*/
/*</nav>*!*/


/** {*/
/*box-sizing: border-box;*/
/*}*/

/*body {*/
/*font-family: Arial, sans-serif;*/
/*margin:0*/
/*}*/

/*header {*/
/*.element {*/
/*background: linear-gradient(*/
/*to bottom,*/
/*#eb8fa9,*/
/*color(#eb8fa9 alpha(0%)) !* or is it color-mod()? *!*/
/*)*/
/*}*/
/*!*SASS*/
/*.element {*/
/*background: linear-gradient(*/
/*to bottom,*/
/*#eb8fa9,*/
/*rgba(#eb8fa9, 0);*/
/*)*/
/*}*!*/
/*}*/




/*$(document).ready(function() {*/
/*!*Carousel functions*!*/
/*var animationSpeed = 1000;*/
/*function startSlider() {*/
/*interval = setInterval(function () {*/
/*$('.carousel__items > li:first')*/
/*.fadeIn(animationSpeed)*/
/*.next()*/
/*.fadeIn(animationSpeed)*/
/*.end()*/
/*.appendTo('.carousel__items');*/
/*}, 5000);*/
/*}*/

/*function startSlider() {*/
/*interval = setInterval(function () {*/
/*$('.carousel > input[type="radio"]:first')*/
/*.fadeIn(animationSpeed)*/
/*.next()*/
/*.change()*/
/*.fadeIn(animationSpeed)*/
/*.end()*/
/*.appendTo('.carousel');*/

/*}, 1000);*/
/*}*/
/*$('.carousel__next').click(function () {*/
/*clearInterval(interval);*/
/*startSlider();*/
/*});*/
/*!*resizing functions for carousel(chose to work with child absolute)*!*/
/*var $child = $('.carousel__item');*/
/*var $parent = $('.carousel__items');*/
/*var childHeight = $child.height();*/
/*$('header').height(childHeight);*/
/*$parent.height(childHeight);*/
/*$( window ).resize(function() {*/
/*var childHeight = $child.height();*/
/*$parent.height(childHeight);*/
/*$('header').height(childHeight);*/
/*});*/
/*startSlider();*/

/*$('.logo').hover(function () {*/
/*$(this).addClass("animated swing");*/
/*}, function () {*/
/*$(this).removeClass("animated swing");*/
/*});*/
/*$('.hamburger').hover(function () {*/
/*$(this).toggleClass('animated pulse');*/
/*});*/
/*$('.scroll').click(function () {*/
/*$('html, body').animate({*/
/*scrollTop: $(document).height()*/
/*}, 'slow');*/
/*return false;*/
/*});*/
/*$(".contact").on('click', function () {*/
/*$(this).toggleClass('active');*/
/*});*/

/*$('.popup-first-level').append( $( ".menu ul" ));*/
/*$('.popup-second-level').append($("has-child"))*/
/*$('.hamburger').on('click', function () {*/

/*$('.hamburger').toggleClass('is-active');*/

/*$('.hamburger-label').text('Menu');*/

/*$('.popup-first-level').show();*/
/*alert("lkj")*/

/*});*/
/*var stickyNav = $("nav");*/
/*var path = document.querySelector('.share__circle');*/
/*var pathLength = path.getTotalLength();*/
/*path.style.strokeDasharray = pathLength + ' ' + pathLength;*/
/*path.style.strokeDashoffset = pathLength;*/
/*window.addEventListener("scroll", function(e) {*/
/*var scrollPercentage = (document.documentElement.scrollTop + document.body.scrollTop) / (document.documentElement.scrollHeight - document.documentElement.clientHeight);*/
/*var drawLength = pathLength * scrollPercentage;*/
/*path.style.strokeDashoffset = pathLength - drawLength;*/
/*if(scrollPercentage) {*/
/*stickyNav.removeClass('static slideInUp').addClass("fixed animated slideInDown");*/
/*}*/
/*else {*/
/*stickyNav.removeClass("fixed slideInDown").addClass('static animated slideInUp');*/
/*}*/
/*});*/
/*});*/




/*@import 'normalize';*/
/*@import 'hamburgers/hamburgers';*/
/*@import 'animate';*/
/*@import 'partials/carousel';*/
/*!**********************/
/*FONTS*/
/**********************!*/

/*@font-face {*/
/*font-family: 'TrojanProRegular';*/
/*src: url('../fonts/TrajanProRegular.eot');*/
/*src: url('../fonts/TrajanProRegular.eot?#iefix') format('embedded-opentype'), url('../fonts/TrajanProRegular.woff') format('woff'), url('../fonts/TrajanProRegular.ttf') format('truetype');*/
/*font-weight: normal;*/
/*font-style: normal;*/
/*}*/

/*!**********************/
/*VARIABLES*/
/**********************!*/

/*$font-main: TrojanProRegular, sans-serif;*/
/*$font-family-text: "source-sans-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
/*$color-white: #fff;*/
/*$color-pink: #c20040;*/
/*$color-black: #000;*/
/*$color-light-grey: lighten($color-black, 70%);*/
/*$color-dark-grey: lighten($color-black, 30%);*/


/*!**********************/
/*PAGE*/
/**********************!*/
/**,*/
/**:before,*/
/**:after {*/
/*box-sizing: border-box;*/
/*-webkit-box-sizing: border-box;*/
/*-moz-box-sizing: border-box;*/
/*font-family: $font-family-text;*/
/*}*/

/*!**********************/
/*BODY*/
/**********************!*/
/*body {*/
/*margin: 0;*/
/*overflow-x: hidden;*/
/*display: flex;*/
/*flex-direction: column;*/
/*width: 100%;*/
/*height: 100%;*/
/*flex-wrap: wrap;*/
/*button:focus {*/
/*outline:0;*/
/*}*/
/*!**********************/
/*MARK(Logo)*/
/**********************!*/
/*.logo {*/
/*width: 250px;*/
/*position: absolute;*/
/*top: 0;*/
/*right: calc(50% - 125px);*/
/*cursor: pointer;*/
/*z-index: 7;*/
/*color: $color-white;*/
/*font-size: 30px;*/
/*font-family: TrojanProRegular;*/
/*text-align: center;*/
/*text-decoration: none;*/
/*font-weight: lighter;*/
/*}*/
.fixed-active {

  top:0!important;
  transition: top, background-color 1s cubic-bezier(0, 0.76, 0.58, 1);
}
.fixed {
  position: fixed;
  top: -60px;
  z-index: 10;
  width: 100%;
  height: 60px;
  background-color: $color-white;
  transition: top, background-color 1s cubic-bezier(0, 0.76, 0.58, 1);
}
/*!**********************/
/*HEADER(Carousel)*/
/**********************!*/
/*header {*/
/*width: 100%;*/
/*background-color: black;*/
/*!* Fading effect *!*/
/*.overlay:before {*/
/*background-image: linear-gradient(to left, black 20%, transparent 80%), linear-gradient(to top, black 20%, transparent 60%), linear-gradient(to bottom, black 10%, transparent 30%);*/
/*z-index: 2;*/
/*content: '';*/
/*position: absolute;*/
/*top: 0;*/
/*right: 0;*/
/*width: 100%;*/
/*height: inherit;*/
/*left: 0;*/
/*opacity: .7;*/
/*}*/
/*!*Carousel mixin*!*/
/*@include carousel(2);*/

/*!*Carousel navigation buttons*!*/
/*.carousel__next{*/
/*position: absolute;*/
/*right: 0;*/
/*top: 50%;*/
/*z-index: 3;*/
/*width: 40px;*/
/*height: 60px;*/
/*text-align: center;*/
/*}*/
/*label[for=carousel-1], label[for=carousel-2] {*/
/*text-align: center;*/
/*display: inline-block;*/
/*border-radius: 100%;*/
/*padding: 6px;*/
/*transition: all 1s ease;*/
/*background-color: white;*/
/*opacity: .6;*/
/*&:hover {*/
/*transform: rotate(360deg);*/
/*border: 1px dotted black;*/
/*box-shadow: 0 0 0 2px white;*/
/*opacity: 1;*/
/*}*/
/*&:active{*/
/*opacity: 1;*/
/*}*/
/*}*/
/*label + label {*/
/*margin-top: 10px;*/
/*}*/
/*.carousel-1, carousel-2 {*/
/*display: inline-block;*/
/*width: 15px;*/
/*height: 15px;*/
/*padding: 3px;*/
/*margin-bottom: 2px;*/
/*}*/
/*}*/
/*}*/

/*.demo-scroll{*/
/*background-image: linear-gradient(to bottom, black 1%, transparent 90%);*/
/*z-index: 5;*/
/*margin: 0;*/
/*width: 100%;*/
/*position: relative;*/
/*height: 2000px;*/


/*.line:after {*/
/*content:"";*/
/*position: absolute;*/
/*z-index: 6;*/
/*top: -30px;*/
/*bottom: 0;*/
/*left: 50%;*/
/*border-left: 1px solid $color-white;*/
/*}*/

/*.scroll{*/
/*width:100px;*/
/*background-color: transparent;*/
/*border: none;*/
/*color: $color-white;*/
/*text-align: center;*/
/*text-transform: uppercase;*/
/*position: absolute;*/
/*top: -80px;*/
/*left: calc(50% - 50px);*/
/*transform: translate(-50%);*/
/*cursor: pointer;*/
/*transition: top 2s ease-in-out;*/
/*&:hover{*/
/*top: -50px;*/
/*}*/
/*}*/
/*}*/

/*.is-active{*/

/*color: $color-pink!important;*/
/*.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {*/
/*background-color: $color-pink!important;*/

/*}*/
/*}*/
/*.fixed {*/
/*position: fixed;*/
/*top: 0;*/
/*z-index: 10;*/
/*width: 100%;*/
/*height: 60px;*/
/*background-color: $color-white;*/
/*transition: background-color 1s cubic-bezier(0, 0.76, 0.58, 1);*/

/*.hamburger {*/
/*left: 0%;*/
/*z-index: 101;*/
/*position: absolute;*/
/*top: 0;*/
/*color: $color-dark-grey;*/
/*margin: 15px;*/
/*&-box {*/
/*margin-right: 15px;*/
/*}*/
/*&-label {*/
/*text-transform: uppercase;*/
/*font-size: 17px;*/
/*}*/
/*}*/

/*.contact {*/
/*position: absolute;*/
/*top: 10px;*/
/*right: 0%;*/
/*z-index: 7;*/
/*cursor: pointer;*/
/*color: $color-dark-grey;*/
/*font-size: 17px;*/
/*text-align: center;*/
/*margin: 20px;*/
/*padding: 5px 5px 0px 5px;*/
/*width: 150px;*/
/*display: block;*/
/*transition: 0.15s ease;*/
/*&:hover .arrow {*/
/*-webkit-transform: rotate(45deg) translate(-5px, -5px);*/
/*transform: rotate(45deg) translate(-5px, -5px);*/
/*}*/
/*&:hover .arrow:before {*/
/*-webkit-transform: translate(10px, 0);*/
/*transform: translate(10px, 0);*/
/*background-color: $color-pink;*/
/*}*/
/*&:hover .arrow:after {*/
/*-webkit-transform: rotate(90deg) translate(10px, 0);*/
/*transform: rotate(90deg) translate(10px, 0);*/
/*background-color: $color-pink;*/
/*}*/
/*&:hover ul {*/
/*opacity: 0.7;*/
/*height: 120px;*/
/*}*/

/*.arrow {*/
/*width: 13px;*/
/*height: 13px;*/
/*display: inline-block;*/
/*position: relative;*/
/*bottom: -5px;*/
/*left: -10px;*/
/*transition: 0.4s ease;*/
/*margin-top: 2px;*/
/*text-align: left;*/
/*-webkit-transform: rotate(45deg);*/
/*transform: rotate(45deg);*/
/*float: right;*/
/*}*/
/*.arrow:before, .arrow:after {*/
/*position: absolute;*/
/*content: "";*/
/*display: inline-block;*/
/*width: 12px;*/
/*height: 1px;*/
/*background-color: $color-dark-grey;*/
/*transition: 0.4s ease;*/
/*}*/
/*.arrow:after {*/
/*position: absolute;*/
/*-webkit-transform: rotate(90deg);*/
/*transform: rotate(90deg);*/
/*top: -5px;*/
/*left: 5px;*/
/*}*/

/*.click-text {*/
/*display: block;*/
/*text-align: left;*/
/*padding: 0 12px 16px;*/
/*margin: 0;*/
/*cursor: pointer;*/
/*color: $color-dark-grey;*/
/*transition: 0.15s ease;*/
/*}*/
/*.click-text:hover {*/
/*color: $color-light-grey;*/
/*}*/

/*ul {*/
/*background-color: transparent;*/
/*color: $color-dark-grey;*/
/*padding: 0;*/
/*margin: 0;*/
/*height: 0;*/
/*overflow: hidden;*/
/*opacity: 0;*/
/*transition: 0.4s ease;*/
/*}*/

/*li {*/
/*list-style-type: none;*/
/*margin: 0 auto;*/
/*padding: 8px 12px;*/
/*text-align: left;*/
/*cursor: pointer;*/
/*&:hover {*/
/*color: lighten($color-pink, .7);*/
/*}*/
/*}*/
/*li:first-child {*/
/*margin-top: 12px;*/
/*}*/
/*li:last-child {*/
/*margin-bottom: 12px;*/
/*}*/
/*}*/
/*}*/
/*.popup{*/
/*pointer-events: auto;*/
/*width: 100%;*/
/*height: 690px;*/
/*background-color: pink;*/
/*padding: 80px 40px 20px 40px;*/
/*box-shadow: 5px 5px 20px $color-dark-grey;*/
/*text-align: left;*/
/*position: fixed;*/
/*top:0;*/
/*overflow-y: visible;*/

/*ul{*/
/*font-size: 15px;*/
/*list-style-type: none;*/
/*margin: 0;*/
/*padding: 0;*/
/*text-transform: uppercase;*/


/*li{*/
/*padding: 15px 0px 5px 0px;*/
/*display: block;*/
/*margin: 10px 0px 10px;*/
/*.icon-plus{*/
/*@include plusMinus(10px, 1px, $color-dark-grey, $color-pink);*/
/*float:right;*/
/*display: inline-block;*/
/*}*/
/*.icon-minus{*/
/*float:right;*/
/*display: inline-block;*/
/*}*/

/*text-decoration: none;*/
/*a:link, a:visited {*/
/*text-align: center;*/
/*text-decoration: none;*/
/*color: $color-dark-grey;*/
/*}*/
/*a:hover, a:active {*/
/*color: $color-pink!important;*/

/*}*/
/*border-bottom: 1px solid $color-light-grey;*/
/*}*/
/*}*/

/*}*/
/*.popup-second-level{*/
/*z-index:99;*/
/*right:0%;*/
/*background-color: $color-white;*/
/*width:50%;*/
/*display: none;*/
/*}*/
/*.popup-first-level{*/
/*z-index:100;*/
/*width:50%;*/
/*background-color: $color-white;*/
/*left:0%;*/
/*display: none;*/
/*}*/
/*.active-dark{*/
/*-webkit-filter: blur(5px) grayscale(50%);*/
/*!* Recede *!*/
/*-webkit-transform: scale(0.9);*/
/*background-image: linear-gradient(to left, black 20%, transparent 80%), linear-gradient(to top, black 20%, transparent 60%), linear-gradient(to bottom, black 10%, transparent 30%);*/
/*z-index: 7;*/
/*}*/
/*.static {*/
/*width:100%;*/
/*position: absolute;*/
/*top:0;*/
/*height:60px;*/
/*text-transform: uppercase;*/
/*font-size: 17px;*/
/*z-index: 10;*/
/*text-align: center;*/
/*transition: background-color 1s cubic-bezier(0, 0.76, 0.58, 1);*/

/*.hamburger {*/
/*left: 0%;*/
/*z-index: 101;*/
/*position: absolute;*/
/*top: 0;*/
/*color: $color-white;*/
/*margin: 10px;*/

/*&-box {*/
/*margin-right: 15px;*/
/*}*/
/*&-label {*/
/*text-transform: uppercase;*/
/*font-size: 17px;*/
/*}*/
/*}*/

/*.contact {*/
/*text-transform: uppercase;*/
/*position: absolute;*/
/*top: 10px;*/
/*right: 0%;*/
/*z-index: 7;*/
/*cursor: pointer;*/
/*color: $color-white;*/
/*font-size: 17px;*/
/*text-align: center;*/
/*margin: 20px;*/
/*padding: 5px 5px 0px 5px;*/
/*width: 150px;*/
/*display: block;*/
/*transition: 0.15s ease;*/
/*&:hover .arrow {*/
/*-webkit-transform: rotate(45deg) translate(-5px, -5px);*/
/*transform: rotate(45deg) translate(-5px, -5px);*/
/*}*/
/*&:hover .arrow:before {*/
/*-webkit-transform: translate(10px, 0);*/
/*transform: translate(10px, 0);*/
/*background-color: $color-pink;*/
/*}*/
/*&:hover .arrow:after {*/
/*-webkit-transform: rotate(90deg) translate(10px, 0);*/
/*transform: rotate(90deg) translate(10px, 0);*/
/*background-color: $color-pink;*/
/*}*/
/*&:hover ul {*/
/*opacity: 0.7;*/
/*height: 120px;*/
/*}*/

/*.arrow {*/
/*width: 13px;*/
/*height: 13px;*/
/*display: inline-block;*/
/*position: relative;*/
/*bottom: -5px;*/
/*left: -10px;*/
/*transition: 0.4s ease;*/
/*margin-top: 2px;*/
/*text-align: left;*/
/*-webkit-transform: rotate(45deg);*/
/*transform: rotate(45deg);*/
/*float: right;*/
/*}*/
/*.arrow:before, .arrow:after {*/
/*position: absolute;*/
/*content: "";*/
/*display: inline-block;*/
/*width: 12px;*/
/*height: 1px;*/
/*background-color: #fff;*/
/*transition: 0.4s ease;*/
/*}*/
/*.arrow:after {*/
/*position: absolute;*/
/*-webkit-transform: rotate(90deg);*/
/*transform: rotate(90deg);*/
/*top: -5px;*/
/*left: 5px;*/
/*}*/

/*.click-text {*/
/*display: block;*/
/*text-align: left;*/
/*padding: 0 12px 16px;*/
/*margin: 0;*/
/*cursor: pointer;*/
/*color: $color-white;*/
/*transition: 0.15s ease;*/
/*}*/
/*.click-text:hover {*/
/*color: lighten($color-white, .6);*/
/*}*/

/*ul {*/
/*background-color: transparent;*/
/*color: lighten($color-white, .6);*/
/*padding: 0;*/
/*margin: 0;*/
/*height: 0;*/
/*overflow: hidden;*/
/*opacity: 0;*/
/*transition: 0.4s ease;*/
/*}*/

/*li {*/
/*list-style-type: none;*/
/*margin: 0 auto;*/
/*padding: 8px 12px;*/
/*text-align: left;*/
/*cursor: pointer;*/
/*&:hover {*/
/*color: lighten($color-pink, .7);*/
/*}*/
/*}*/
/*li:first-child {*/
/*margin-top: 12px;*/
/*}*/
/*li:last-child {*/
/*margin-bottom: 12px;*/
/*}*/
/*}*/
/*}*/

/*.share{*/
/*width:4%;*/
/*position: fixed;*/
/*top: 0%;*/
/*z-index:200;*/
/*left: 50%;*/
/*transform: rotate(180deg);*/
/*&__icon {*/
/*fill:$color-dark-grey;*/
/*}*/
/*&__circle {*/
/*fill:none;*/
/*stroke:#c20040;*/
/*stroke-miterlimit:10;*/
/*stroke-width:2px;*/
/*stroke-dasharray: 1000;*/
/*stroke-dashoffset: 1000;*/
/*}*/
/*}*/

  .carousel {
    overflow: hidden;

    &__items {
      margin: 0;
      padding: 0;
      position: relative;
      list-style-type: none;
    }

    &__item {
      position: relative;
      transition: opacity 2s;
      -webkit-transition: opacity 2s;

      img {
        width: 100%;
        height: 100%;
        vertical-align: middle;
      }
    }

    .carousel__nav {
      position: absolute;
      right: 0;
      top: 50%;
      width: 30px;
      height: 30px;
      z-index: 5;
      text-align: center;
    }
    .carousel__next, .carousel__prev {
      text-align: center;
      display: inline-block;
      border-radius: 100%;
      padding: 6px;

      transition: all 1s ease;
      background-color: white;
      opacity: .6;
      &:hover {
        transform: rotate(360deg);
        border: 1px dotted black;
        box-shadow: 0 0 0 2px white;
        opacity: 1;
      }
    }
    span + span {
      margin-top: 10px;
    }
  }
