/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
/* line 3, ../sass/hamburgers/_base.scss */
.hamburger {
  padding: 20px 20px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
/* line 21, ../sass/hamburgers/_base.scss */
.hamburger:hover {
  filter: rgba(255, 255, 255, 0.7);
}
/* line 30, ../sass/hamburgers/_base.scss */
.hamburger.is-active {
  color: #c20040;
}
/* line 34, ../sass/hamburgers/_base.scss */
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #c20040;
}

/* line 42, ../sass/hamburgers/_base.scss */
.hamburger-box {
  width: 35px;
  height: 21px;
  display: inline-block;
  position: relative;
}

/* line 49, ../sass/hamburgers/_base.scss */
.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -0.5px;
}
/* line 54, ../sass/hamburgers/_base.scss */
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 35px;
  height: 1px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
/* line 67, ../sass/hamburgers/_base.scss */
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}
/* line 73, ../sass/hamburgers/_base.scss */
.hamburger-inner::before {
  top: -10px;
}
/* line 77, ../sass/hamburgers/_base.scss */
.hamburger-inner::after {
  bottom: -10px;
}

/*
 * Collapse
 */
/* line 6, ../sass/hamburgers/types/_collapse.scss */
.hamburger--collapse .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
/* line 13, ../sass/hamburgers/types/_collapse.scss */
.hamburger--collapse .hamburger-inner::after {
  top: -20px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
}
/* line 19, ../sass/hamburgers/types/_collapse.scss */
.hamburger--collapse .hamburger-inner::before {
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
/* line 26, ../sass/hamburgers/types/_collapse.scss */
.hamburger--collapse.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
/* line 31, ../sass/hamburgers/types/_collapse.scss */
.hamburger--collapse.is-active .hamburger-inner::after {
  top: 0;
  opacity: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
}
/* line 38, ../sass/hamburgers/types/_collapse.scss */
.hamburger--collapse.is-active .hamburger-inner::before {
  top: 0;
  transform: rotate(-90deg);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
 * Collapse Reverse
 */
/* line 6, ../sass/hamburgers/types/_collapse-r.scss */
.hamburger--collapse-r .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
/* line 13, ../sass/hamburgers/types/_collapse-r.scss */
.hamburger--collapse-r .hamburger-inner::after {
  top: -20px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
}
/* line 19, ../sass/hamburgers/types/_collapse-r.scss */
.hamburger--collapse-r .hamburger-inner::before {
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
/* line 26, ../sass/hamburgers/types/_collapse-r.scss */
.hamburger--collapse-r.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
/* line 31, ../sass/hamburgers/types/_collapse-r.scss */
.hamburger--collapse-r.is-active .hamburger-inner::after {
  top: 0;
  opacity: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
}
/* line 38, ../sass/hamburgers/types/_collapse-r.scss */
.hamburger--collapse-r.is-active .hamburger-inner::before {
  top: 0;
  transform: rotate(90deg);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
 * Elastic
 */
/* line 6, ../sass/hamburgers/types/_elastic.scss */
.hamburger--elastic .hamburger-inner {
  top: 0.5px;
  transition-duration: 0.275s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
/* line 11, ../sass/hamburgers/types/_elastic.scss */
.hamburger--elastic .hamburger-inner::before {
  top: 10px;
  transition: opacity 0.125s 0.275s ease;
}
/* line 16, ../sass/hamburgers/types/_elastic.scss */
.hamburger--elastic .hamburger-inner::after {
  top: 20px;
  transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
/* line 23, ../sass/hamburgers/types/_elastic.scss */
.hamburger--elastic.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(135deg);
  transition-delay: 0.075s;
}
/* line 29, ../sass/hamburgers/types/_elastic.scss */
.hamburger--elastic.is-active .hamburger-inner::before {
  transition-delay: 0s;
  opacity: 0;
}
/* line 34, ../sass/hamburgers/types/_elastic.scss */
.hamburger--elastic.is-active .hamburger-inner::after {
  transform: translate3d(0, -20px, 0) rotate(-270deg);
  transition-delay: 0.075s;
}

/*
 * Elastic Reverse
 */
/* line 6, ../sass/hamburgers/types/_elastic-r.scss */
.hamburger--elastic-r .hamburger-inner {
  top: 0.5px;
  transition-duration: 0.275s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
/* line 11, ../sass/hamburgers/types/_elastic-r.scss */
.hamburger--elastic-r .hamburger-inner::before {
  top: 10px;
  transition: opacity 0.125s 0.275s ease;
}
/* line 16, ../sass/hamburgers/types/_elastic-r.scss */
.hamburger--elastic-r .hamburger-inner::after {
  top: 20px;
  transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
/* line 23, ../sass/hamburgers/types/_elastic-r.scss */
.hamburger--elastic-r.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(-135deg);
  transition-delay: 0.075s;
}
/* line 29, ../sass/hamburgers/types/_elastic-r.scss */
.hamburger--elastic-r.is-active .hamburger-inner::before {
  transition-delay: 0s;
  opacity: 0;
}
/* line 34, ../sass/hamburgers/types/_elastic-r.scss */
.hamburger--elastic-r.is-active .hamburger-inner::after {
  transform: translate3d(0, -20px, 0) rotate(270deg);
  transition-delay: 0.075s;
}

/*!
Animate.css - http://daneden.me/animate
Licensed under the MIT license - http://opensource.org/licenses/MIT
Copyright (c) 2015 Daniel Eden
*/
/* line 8, ../sass/helpers/_base.scss */
body {
  -webkit-backface-visibility: hidden;
}

/* line 12, ../sass/helpers/_base.scss */
.animated {
  -webkit-animation-duration: calc( 1s );
  animation-duration: calc( 1s );
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
/* line 16, ../sass/helpers/_base.scss */
.animated.infinite {
  animation-iteration-count: infinite;
}
/* line 20, ../sass/helpers/_base.scss */
.animated.hinge {
  -webkit-animation-duration: calc( 1s * 2 );
  animation-duration: calc( 1s * 2 );
}
/* line 24, ../sass/helpers/_base.scss */
.animated.bounceIn, .animated.bounceOut {
  -webkit-animation-duration: calc( 1s * 0.75 );
  animation-duration: calc( 1s * 0.75 );
}
/* line 29, ../sass/helpers/_base.scss */
.animated.flipOutX, .animated.flipOutY {
  -webkit-animation-duration: calc( 1s * 0.75 );
  animation-duration: calc( 1s * 0.75 );
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
/* line 17, ../sass/animations/attention-seekers/_pulse.scss */
.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

@-webkit-keyframes swing {
  20%, 40%, 60%, 80%, 100% {
    -webkit-transform-origin: top center;
  }
  20% {
    -webkit-transform: rotate(15deg);
  }
  40% {
    -webkit-transform: rotate(-10deg);
  }
  60% {
    -webkit-transform: rotate(5deg);
  }
  80% {
    -webkit-transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}
@keyframes swing {
  20% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(5deg);
  }
  80% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/* line 20, ../sass/animations/attention-seekers/_swing.scss */
.swing {
  -webkit-transform-origin: top center;
  transform-origin: top center;
  -webkit-animation-name: swing;
  animation-name: swing;
}

@-webkit-keyframes bounceInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(-30px);
  }
  80% {
    -webkit-transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}
@keyframes bounceInUp {
  0% {
    opacity: 0;
    transform: translateY(2000px);
  }
  60% {
    opacity: 1;
    transform: translateY(-30px);
  }
  80% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
/* line 43, ../sass/animations/bounce-enter/_bounceInUp.scss */
.bounceInUp {
  -webkit-animation-name: bounceInUp;
  animation-name: bounceInUp;
}

@-webkit-keyframes bounceOutUp {
  0% {
    -webkit-transform: translateY(0);
  }
  20% {
    opacity: 1;
    -webkit-transform: translateY(20px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
  }
}
@keyframes bounceOutUp {
  0% {
    transform: translateY(0);
  }
  20% {
    opacity: 1;
    transform: translateY(20px);
  }
  100% {
    opacity: 0;
    transform: translateY(-2000px);
  }
}
/* line 35, ../sass/animations/bounce-exit/_bounceOutUp.scss */
.bounceOutUp {
  -webkit-animation-name: bounceOutUp;
  animation-name: bounceOutUp;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* line 27, ../sass/animations/fade-enter/_fadeInUp.scss */
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes lightSpeedIn {
  0% {
    -webkit-transform: translateX(100%) skewX(-30deg);
    opacity: 0;
  }
  60% {
    -webkit-transform: translateX(-20%) skewX(30deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: translateX(0%) skewX(-15deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(0%) skewX(0deg);
    opacity: 1;
  }
}
@keyframes lightSpeedIn {
  0% {
    transform: translateX(100%) skewX(-30deg);
    opacity: 0;
  }
  60% {
    transform: translateX(-20%) skewX(30deg);
    opacity: 1;
  }
  80% {
    transform: translateX(0%) skewX(-15deg);
    opacity: 1;
  }
  100% {
    transform: translateX(0%) skewX(0deg);
    opacity: 1;
  }
}
/* line 17, ../sass/animations/lightspeed/_lightSpeedIn.scss */
.lightSpeedIn {
  -webkit-animation-name: lightSpeedIn;
  animation-name: lightSpeedIn;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}

@-webkit-keyframes slideInDown {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInDown {
  0% {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
/* line 25, ../sass/animations/slide-enter/_slideInDown.scss */
.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}

@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInLeft {
  0% {
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
/* line 25, ../sass/animations/slide-enter/_slideInLeft.scss */
.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}

@-webkit-keyframes slideInRight {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInRight {
  0% {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
/* line 25, ../sass/animations/slide-enter/_slideInRight.scss */
.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}

@-webkit-keyframes slideInUp {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInUp {
  0% {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
/* line 25, ../sass/animations/slide-enter/_slideInUp.scss */
.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
}

@-webkit-keyframes slideOutLeft {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
  }
}
@keyframes slideOutLeft {
  0% {
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}
/* line 25, ../sass/animations/slide-exit/_slideOutLeft.scss */
.slideOutLeft {
  -webkit-animation-name: slideOutLeft;
  animation-name: slideOutLeft;
}

@-webkit-keyframes slideOutRight {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(100%, 0, 0);
  }
}
@keyframes slideOutRight {
  0% {
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    transform: translate3d(100%, 0, 0);
  }
}
/* line 25, ../sass/animations/slide-exit/_slideOutRight.scss */
.slideOutRight {
  -webkit-animation-name: slideOutRight;
  animation-name: slideOutRight;
}

/* line 1, ../sass/partials/_carousel.scss */
header .carousel > input[type="radio"]:nth-child(1):checked ~ .carousel__next > label[for="carousel-1"]:nth-child(2), header .carousel > input[type="radio"]:nth-child(1):checked ~ .carousel__next > label[for="carousel-2"]:nth-child(2), header .carousel > input[type="radio"]:nth-child(2):checked ~ .carousel__next > label[for="carousel-1"]:nth-child(1), header .carousel > input[type="radio"]:nth-child(2):checked ~ .carousel__next > label[for="carousel-2"]:nth-child(1) {
  opacity: 1 !important;
  z-index: 3;
}

/* @include transition(all,2s,ease-out); */
/*********************
BREAKPOINTS
*********************/
/*********************
FONTS
*********************/
@font-face {
  font-family: 'TrojanProRegular';
  src: url("../fonts/TrajanProRegular.eot");
  src: url("../fonts/TrajanProRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/TrajanProRegular.woff") format("woff"), url("../fonts/TrajanProRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/*********************
VARIABLES
*********************/
/*********************
PAGE
*********************/
/* line 33, ../sass/style.scss */
*,
*:before,
*:after,
*:focus {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: "source-sans-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #4d4d4d;
  outline: 0;
  font-size: 0.95em;
}

/* line 46, ../sass/style.scss */
body {
  margin: 0;
  overflow-x: hidden;
  color: #4d4d4d;
}
/* line 50, ../sass/style.scss */
body p {
  margin: 0;
  padding: 0;
}
/* line 54, ../sass/style.scss */
body .logo {
  width: 250px;
  position: absolute;
  top: 0px;
  right: calc(50% - 125px);
  cursor: pointer;
  z-index: 7;
  color: #fff;
  font-size: 2.45em;
  font-family: TrojanProRegular, serif;
  text-align: center;
  text-decoration: none;
  font-weight: lighter;
}
@media (max-width: 376px) {
  /* line 68, ../sass/style.scss */
  body .logo {
    top: 90px;
  }
}
@media (max-width: 768px) {
  /* line 73, ../sass/style.scss */
  body .logo {
    top: 40px;
  }
}

/* line 80, ../sass/style.scss */
.demo-scroll {
  background-image: linear-gradient(to bottom, black 1%, transparent 90%);
  z-index: 5;
  margin: 0;
  width: 100%;
  position: relative;
  height: 2000px;
}
/* line 89, ../sass/style.scss */
.demo-scroll .line:after {
  content: "";
  position: absolute;
  z-index: 6;
  top: -30px;
  bottom: 0;
  left: 50%;
  border-left: 1px solid #fff;
}

/* line 101, ../sass/style.scss */
.fixed {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 50px;
  background-color: #fff;
  transition: all 1s ease-in;
}
@media (max-width: 768px) {
  /* line 110, ../sass/style.scss */
  .fixed {
    height: 50px;
  }
}
/* line 114, ../sass/style.scss */
.fixed .share {
  width: 30px;
  z-index: 50;
  position: absolute;
  left: 155px;
  top: 15px;
  transform: rotate(180deg);
  /************* IE 10 STYLES *****************/
  /************* IE 10 STYLES *****************/
  /************* IE 9 STYLES *****************/
}
@media (max-width: 376px) {
  /* line 116, ../sass/style.scss */
  .fixed .share {
    left: 140px;
  }
}
/* line 126, ../sass/style.scss */
.fixed .share__icon {
  fill: #4d4d4d;
}
/* line 129, ../sass/style.scss */
.fixed .share__circle {
  fill: none;
  stroke: #c20040;
  stroke-miterlimit: 10;
  stroke-width: 2px;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
}
/* line 138, ../sass/style.scss */
html[data-useragent*='rv:11.0'] .fixed .share {
  top: 5px;
}
/* line 143, ../sass/style.scss */
html[data-useragent*='MSIE 10.0'] .fixed .share {
  top: 5px;
}
/* line 148, ../sass/style.scss */
html[data-useragent*='MSIE 9.0'] .fixed .share {
  top: 5px;
}
/* line 152, ../sass/style.scss */
.fixed .hamburger-box {
  margin-right: 15px;
  color: #4d4d4d;
}
/* line 155, ../sass/style.scss */
.fixed .hamburger-box .hamburger-inner, .fixed .hamburger-box .hamburger-inner:after, .fixed .hamburger-box .hamburger-inner:before {
  background-color: #4d4d4d;
}
/* line 159, ../sass/style.scss */
.fixed .hamburger-label {
  color: #4d4d4d;
}
/* line 164, ../sass/style.scss */
.fixed .contact {
  text-transform: uppercase;
  position: absolute;
  top: 15px;
  right: 0;
  z-index: 7;
  cursor: pointer;
  color: #4d4d4d;
  text-align: center;
  margin: 10px 0 10px 20px;
  padding: 5px 5px 0 5px;
  width: 170px;
  display: block;
  transition: 0.15s ease;
}
/* line 178, ../sass/style.scss */
.fixed .contact:hover .arrow, .fixed .contact:active .arrow {
  -webkit-transform: rotate(45deg) translate(-5px, -5px);
  transform: rotate(45deg) translate(-5px, -5px);
}
/* line 182, ../sass/style.scss */
.fixed .contact:hover .arrow:before, .fixed .contact:active .arrow:before {
  -webkit-transform: translate(10px, 0);
  transform: translate(10px, 0);
  background-color: #c20040;
}
/* line 187, ../sass/style.scss */
.fixed .contact:hover .arrow:after, .fixed .contact:active .arrow:after {
  -webkit-transform: rotate(90deg) translate(10px, 0);
  transform: rotate(90deg) translate(10px, 0);
  background-color: #c20040;
}
/* line 192, ../sass/style.scss */
.fixed .contact:hover ul, .fixed .contact:active ul, .fixed .contact:focus ul {
  opacity: 0.7;
  height: 120px;
}
/* line 197, ../sass/style.scss */
.fixed .contact .arrow {
  width: 13px;
  height: 13px;
  display: inline-block;
  position: relative;
  bottom: -2px;
  left: -10px;
  transition: 0.4s ease;
  margin-top: 2px;
  text-align: left;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  float: right;
}
/* line 211, ../sass/style.scss */
.fixed .contact .arrow:before, .fixed .contact .arrow:after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 12px;
  height: 1px;
  background-color: #4d4d4d;
  transition: 0.4s ease;
}
/* line 220, ../sass/style.scss */
.fixed .contact .arrow:after {
  position: absolute;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: -5px;
  left: 5px;
}
/* line 228, ../sass/style.scss */
.fixed .contact .click-text {
  display: block;
  text-align: left;
  padding: 0 30px 5px;
  margin: 0;
  cursor: pointer;
  color: #4d4d4d;
  transition: 0.15s ease;
}
/* line 238, ../sass/style.scss */
.fixed .contact ul {
  animation-delay: .5s;
  background-color: #fff;
  opacity: 0.6;
  padding: 0;
  margin: 0;
  height: 0;
  overflow: hidden;
  transition: 0.4s ease;
}
/* line 248, ../sass/style.scss */
.fixed .contact ul li {
  list-style-type: none;
  margin: 0 auto;
  padding: 12px 15px;
  text-align: center;
  cursor: pointer;
}
/* line 254, ../sass/style.scss */
.fixed .contact ul li:hover, .fixed .contact ul li:active, .fixed .contact ul li:focus {
  color: #c20040;
}
/* line 258, ../sass/style.scss */
.fixed .contact ul a {
  color: #4d4d4d;
  opacity: 0.8;
}
/* line 261, ../sass/style.scss */
.fixed .contact ul a:hover, .fixed .contact ul a:active, .fixed .contact ul a:focus {
  color: #c20040;
}
/* line 265, ../sass/style.scss */
.fixed .contact ul:first-child {
  margin-top: 12px;
}
/* line 268, ../sass/style.scss */
.fixed .contact ul:last-child {
  margin-bottom: 12px;
}

/* line 274, ../sass/style.scss */
.active-link {
  color: #c20040 !important;
}
/* line 276, ../sass/style.scss */
.active-link a {
  color: #c20040 !important;
}

/* line 280, ../sass/style.scss */
.plus {
  float: right !important;
  text-align: right;
  transition: all .3s ease-in;
}
/* line 283, ../sass/style.scss */
.plus:after {
  color: #4d4d4d;
  content: '\002B';
}

/* line 290, ../sass/style.scss */
.hover-minus, .active-minus {
  transition: all .3s ease-in;
}
/* line 291, ../sass/style.scss */
.hover-minus:after, .active-minus:after {
  color: #c20040;
  content: '\002D';
}

/* line 297, ../sass/style.scss */
.menu {
  overflow-y: auto;
  overflow-x: hidden;
  list-style: none;
  margin: 0;
  pointer-events: auto;
  width: 50%;
  height: 100vh;
  padding: 80px 40px 20px 40px;
  text-align: left;
  position: absolute;
  top: 0;
  z-index: 100;
  background-color: #fff;
  left: -60%;
  transition: all 1s ease-in-out;
}
@media (max-width: 376px) {
  /* line 299, ../sass/style.scss */
  .menu {
    padding: 50px 15px 10px 20px;
    overflow-y: auto;
  }
}
/* line 320, ../sass/style.scss */
.menu:focus {
  outline: 0;
}
/* line 324, ../sass/style.scss */
.menu a:link, .menu a:visited {
  text-align: left;
  text-decoration: none;
  color: #4d4d4d;
}
/* line 329, ../sass/style.scss */
.menu a:hover, .menu a:active {
  color: #c20040 !important;
}

/* line 333, ../sass/style.scss */
.menu--active {
  left: 0%;
}

/* line 336, ../sass/style.scss */
.menu:after {
  clear: both;
  content: '';
  display: table;
}

/* line 341, ../sass/style.scss */
.menu__item {
  text-decoration: none;
  list-style-type: none;
  text-transform: uppercase;
  padding: 15px 0 5px 0;
  display: block;
  margin: 10px 0 10px;
  border-bottom: 1px solid #e6e6e6;
}

/* line 351, ../sass/style.scss */
.menu__link {
  color: #4d4d4d;
  display: block;
  text-decoration: none;
}

/* line 356, ../sass/style.scss */
.menu__link:hover,
.menu__link:focus {
  color: #c20040;
}

/* line 360, ../sass/style.scss */
.glow {
  margin: 0;
  transition: all 0.5s ease-in;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 11;
  background-color: #fff;
  left: -100%;
  opacity: .6;
}

/* line 372, ../sass/style.scss */
.glow--active {
  left: 0;
}

/* line 375, ../sass/style.scss */
.button-close {
  display: none;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 15px;
  top: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all .5s ease-in;
}
/* line 387, ../sass/style.scss */
.button-close .close:before, .button-close .close:after {
  position: absolute;
  bottom: 3px;
  content: ' ';
  height: 36px;
  width: 1px;
  background-color: #c20040;
}
/* line 395, ../sass/style.scss */
.button-close .close:before {
  transform: rotate(45deg);
}
/* line 398, ../sass/style.scss */
.button-close .close:after {
  transform: rotate(-45deg);
}

/* line 402, ../sass/style.scss */
.btn--close {
  display: none;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 20px;
  top: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all .5s ease-in;
}
/* line 413, ../sass/style.scss */
.btn--close line {
  stroke: #4d4d4d;
}

/* line 418, ../sass/style.scss */
.submenu {
  list-style: none;
  margin: 0;
  pointer-events: auto;
  width: 50%;
  height: 100vh;
  padding: 40vh 40px 20px 40px;
  -webkit-box-shadow: 8px 0 8px -2px #e6e6e6 inset;
  -moz-box-shadow: 8px 0 8px -2px #e6e6e6 inset;
  box-shadow: 8px 0 8px -2px #e6e6e6 inset;
  text-align: left;
  position: fixed;
  top: 0;
  overflow-x: hidden;
  z-index: 101;
  background-color: #fff;
  right: -60%;
  webkit-transform: translate3d(0, 0, 0);
  transition: all 1s ease-in-out;
}
@media (max-width: 376px) {
  /* line 420, ../sass/style.scss */
  .submenu {
    padding: 40vh 15px 10px 20px;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
/* line 444, ../sass/style.scss */
.submenu a:link, .submenu a:visited {
  text-align: left;
  text-decoration: none;
  color: #4d4d4d;
}
/* line 449, ../sass/style.scss */
.submenu a:hover, .submenu a:active {
  color: #c20040 !important;
}

/* line 454, ../sass/style.scss */
.submenu--active {
  right: 0%;
}

/* line 458, ../sass/style.scss */
.submenu__link {
  text-decoration: none;
  list-style-type: none;
  text-transform: uppercase;
  padding: 15px 0 5px 0;
  display: block;
}

/* line 466, ../sass/style.scss */
.submenu__link:hover,
.submenu__link:active {
  color: #c20040;
}

/* line 471, ../sass/style.scss */
.static {
  width: 100%;
  position: absolute;
  top: 0;
  height: 0;
  text-transform: uppercase;
  z-index: 10;
  text-align: center;
  transition: all 1s ease-in;
}
@media (max-width: 376px) {
  /* line 481, ../sass/style.scss */
  .static {
    transition: all 0.3s ease-in;
  }
}
/* line 485, ../sass/style.scss */
.static .share {
  display: none;
}
/* line 490, ../sass/style.scss */
.static .contact {
  text-transform: uppercase;
  position: absolute;
  top: 15px;
  right: 0;
  z-index: 7;
  cursor: pointer;
  color: #fff;
  text-align: center;
  margin: 10px 0 10px 20px;
  padding: 5px 5px 0 5px;
  width: 170px;
  display: block;
  transition: 0.15s ease;
}
/* line 504, ../sass/style.scss */
.static .contact:hover .arrow, .static .contact:active .arrow {
  -webkit-transform: rotate(45deg) translate(-5px, -5px);
  transform: rotate(45deg) translate(-5px, -5px);
}
/* line 508, ../sass/style.scss */
.static .contact:hover .arrow:before, .static .contact:active .arrow:before {
  -webkit-transform: translate(10px, 0);
  transform: translate(10px, 0);
  background-color: #c20040;
}
/* line 513, ../sass/style.scss */
.static .contact:hover .arrow:after, .static .contact:active .arrow:after {
  -webkit-transform: rotate(90deg) translate(10px, 0);
  transform: rotate(90deg) translate(10px, 0);
  background-color: #c20040;
}
/* line 518, ../sass/style.scss */
.static .contact:hover ul, .static .contact:active ul, .static .contact:focus ul {
  opacity: 0.7;
  height: 120px;
}
/* line 523, ../sass/style.scss */
.static .contact .arrow {
  width: 13px;
  height: 13px;
  display: inline-block;
  position: relative;
  bottom: -2px;
  left: -10px;
  transition: 0.4s ease;
  margin-top: 2px;
  text-align: left;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  float: right;
}
/* line 537, ../sass/style.scss */
.static .contact .arrow:before, .static .contact .arrow:after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 12px;
  height: 1px;
  background-color: #fff;
  transition: 0.4s ease;
}
/* line 546, ../sass/style.scss */
.static .contact .arrow:after {
  position: absolute;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: -5px;
  left: 5px;
}
/* line 554, ../sass/style.scss */
.static .contact .click-text {
  display: block;
  text-align: left;
  padding: 0 30px 5px;
  margin: 0;
  cursor: pointer;
  color: #fff;
  transition: 0.15s ease;
}
/* line 564, ../sass/style.scss */
.static .contact ul {
  background-color: transparent;
  padding: 0;
  margin: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.4s ease;
}
/* line 573, ../sass/style.scss */
.static .contact ul li {
  list-style-type: none;
  margin: 0 auto;
  padding: 12px 15px;
  text-align: center;
  cursor: pointer;
}
/* line 579, ../sass/style.scss */
.static .contact ul li:hover, .static .contact ul li:active, .static .contact ul li:focus {
  color: #c20040;
}
/* line 583, ../sass/style.scss */
.static .contact ul a {
  color: #fff;
  opacity: 0.8;
}
/* line 586, ../sass/style.scss */
.static .contact ul a:hover, .static .contact ul a:active, .static .contact ul a:focus {
  color: #c20040;
}
/* line 590, ../sass/style.scss */
.static .contact ul:first-child {
  margin-top: 12px;
}
/* line 593, ../sass/style.scss */
.static .contact ul:last-child {
  margin-bottom: 12px;
}

/* line 600, ../sass/style.scss */
.scroll {
  width: 100px;
  background-color: transparent;
  border: none;
  z-index: 5;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  top: -80px;
  left: 50%;
  transform: translate(-50%);
  cursor: pointer;
  transition: top 2s ease-in-out;
}
/* line 614, ../sass/style.scss */
.scroll span {
  color: #fff;
}
/* line 617, ../sass/style.scss */
.scroll:hover {
  top: -50px;
}

/* line 622, ../sass/style.scss */
header {
  width: 100%;
  background-color: black;
}
/* line 625, ../sass/style.scss */
header .overlay {
  background-image: linear-gradient(to left, black 20%, transparent 80%), linear-gradient(to top, black 20%, transparent 60%), linear-gradient(to bottom, black 10%, transparent 30%);
  width: 100%;
  opacity: .6;
  top: 0;
  left: 0;
  position: absolute;
  padding: 0;
  z-index: 10;
  transition: opacity .5s;
}
/* line 637, ../sass/style.scss */
header:hover .overlay {
  opacity: .6;
  transition: opacity .5s;
}
/* line 78, ../sass/partials/_carousel.scss */
header .carousel {
  background-size: cover;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
/* line 84, ../sass/partials/_carousel.scss */
header .carousel > input[type="radio"] {
  position: absolute;
  display: none;
}
/* line 89, ../sass/partials/_carousel.scss */
header .carousel > input[type="radio"]:checked ~ .carousel__items .carousel__item {
  opacity: 0;
}
/* line 92, ../sass/partials/_carousel.scss */
header .carousel > input[type="radio"]:checked ~ .carousel__next > label {
  opacity: 1;
}
/* line 102, ../sass/partials/_carousel.scss */
header .carousel > input[type="radio"]:nth-child(1):checked ~ .carousel__items .carousel__item:nth-child(1) {
  opacity: 1;
}
/* line 102, ../sass/partials/_carousel.scss */
header .carousel > input[type="radio"]:nth-child(2):checked ~ .carousel__items .carousel__item:nth-child(2) {
  opacity: 1;
}
/* line 144, ../sass/partials/_carousel.scss */
header .carousel__items {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;
}
/* line 151, ../sass/partials/_carousel.scss */
header .carousel__item {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  left: 0;
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
}
/* line 159, ../sass/partials/_carousel.scss */
header .carousel__item img {
  width: 100vw;
  min-height: 400px;
}
@media (max-width: 376px) {
  /* line 164, ../sass/partials/_carousel.scss */
  header .carousel__item {
    right: 0;
    left: -200px;
  }
  /* line 168, ../sass/partials/_carousel.scss */
  header .carousel__item img {
    width: 200vw;
    min-height: 300px;
  }
}
@media (max-width: 768px) {
  /* line 174, ../sass/partials/_carousel.scss */
  header .carousel__item img {
    min-height: 300px;
  }
}
/* line 644, ../sass/style.scss */
header .carousel__next {
  position: absolute;
  right: 2%;
  top: 50%;
  width: 40px;
  height: 60px;
  z-index: 12;
  text-align: center;
}
/* line 653, ../sass/style.scss */
header label[for=carousel-1], header label[for=carousel-2] {
  text-align: center;
  display: inline-block;
  border-radius: 100%;
  padding: 3px 7px 4px 7px;
  transition: all 1s ease;
  background-color: white;
  opacity: .6;
}
/* line 661, ../sass/style.scss */
header label[for=carousel-1]:hover, header label[for=carousel-1]:active, header label[for=carousel-2]:hover, header label[for=carousel-2]:active {
  transform: rotate(360deg);
  border: 1px dotted black;
  box-shadow: 0 0 0 3px white;
  opacity: 1;
}
/* line 668, ../sass/style.scss */
header label + label {
  margin-top: 5px;
}

/* line 674, ../sass/style.scss */
.hamburger {
  left: 0;
  z-index: 101;
  position: absolute;
  color: #fff;
  margin-left: 0;
}
/* line 681, ../sass/style.scss */
.hamburger-box {
  margin-right: 15px;
}
/* line 684, ../sass/style.scss */
.hamburger-label {
  color: #fff;
  text-transform: uppercase;
}
@media (max-width: 376px) {
  /* line 690, ../sass/style.scss */
  .hamburger .is-active .hamburger {
    padding-left: 0 !important;
    margin-right: 10px;
  }
  /* line 694, ../sass/style.scss */
  .hamburger .is-active span {
    color: #c20040 !important;
  }
  /* line 697, ../sass/style.scss */
  .hamburger .is-active .hamburger-inner, .hamburger .is-active .hamburger-inner:after, .hamburger .is-active .hamburger-inner:before {
    background-color: #c20040 !important;
  }
}

/* line 704, ../sass/style.scss */
.is-active {
  color: #c20040 !important;
}
/* line 706, ../sass/style.scss */
.is-active span {
  color: #c20040 !important;
}
/* line 709, ../sass/style.scss */
.is-active .hamburger-inner, .is-active .hamburger-inner:after, .is-active .hamburger-inner:before {
  background-color: #c20040 !important;
}
